// font styles
$primary-font: 'Baloo Chettan 2', cursive;
$secondary-font: 'Baloo Tamma 2', cursive;
$third-font: 'Raleway', sans-serif;
// background colours
$background: #fff6ea;
$peach-background:#f6e3db;
$darkpeach-background: #ffd7cd; 
$green-background: #c3e1db;
// font colours
$green-font: #8dc8ae;
$orange-font:  #f37647; 
$black-font: #444;

$active-opacity: 1;
$inactive-opacity: 0.15;

$white: #fff;
$black: #000;



