@import "styles/variables.scss";

.navigation{
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #f6f1e1;

}

.navigation h2{
  font-family: $primary-font;
  color: $black-font
}

.logoImage{
  height:4rem;
  width: auto;
  
}
.logo{
  padding: 0.7rem;
  display:flex;
  flex-direction: row;
}

.navButtons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}